# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Custom

electron/node/
electron/node_modules/
electron/springboot-electron-win32-x64/
electron/jar/

