<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Sh GTA V compare stats</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="app/css/master.css">

</head>

<body ng-app="electronapp" class="container-fluid">
    <div ng-controller="mainCtrl">
        <div class="row">
            <div class="col-md-12">
                <img src="app/img/banner.png" class="img-responsive" alt="Banner">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <button class="button btn-primary" ng-click="openFile()">Open</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div style="overflow : auto;height: 300px;">
                            <p ng-repeat="item in selectedHandling" ng-click="showItem(item)">{{item.handlingName[0]}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="node_modules/angular/angular.js"></script>
    <script src="app/app.js"></script>
    <script>
        // You can also require other files to run in this process
        require('./renderer.js');
    </script>
</body>

</html>